@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    border: none;
    box-sizing: border-box;  
}

body {
    font-family: 'Bangers', cursive, sans-serif;
    color: #FF5733;
}

h1, h2 {
    font-size: 1.9rem;
}

footer {
    clear: both;
    position: relative;
    margin-top: 60px;
}

footer p, a {
    font-size: 0.9rem;
    text-align: center;
    text-decoration:none;
}

.heading-section, .mainconent-section {
    text-align: center;
} 
.game-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.player-wrapper, .computer-wrapper {
    float: left;
    width: 50%;
    padding: 5px;
}

#player-image, #computer-image {
    width: 60%;
}

.button-wrapper button {
    border-radius: 30px;
    width: 100px;
    height: 40px;
    background-color: #FF5733;
    color: #ffff;
    font-family: 'Bangers', cursive, sans-serif;
    border:solid 1px;
}

.button-wrapper button:hover {
    
    background-color: #ffff;
    color: #FF5733
}

.winner-text-content {
    font-size: 1.4rem;
}

/* media qs */

@media screen and (max-width: 650px) {
    .player-wrapper, .computer-wrapper {
      width: 100%;
    }
  }

